li{
    list-style-type: none;
}

a{
    text-decoration: none;
}

.character_content{
    margin-block-start: 3rem; 
}
.content_profile{
    display: flex; 
    justify-content: center;
    align-items: center;
    gap: 1rem;
}
.profile_img{
    width: 20rem; 
    height: 20rem;
    background-color: grey;
    background-position: center;
    background-size: cover; 
    background-repeat: no-repeat;
}

.profile_description{
    color: white; 
}

.profile_name{
    font-size: 2.875rem; 
    font-weight: var(--fw-bold);
    font-family: var(--ff-secondary); 
}

.text{
    width: 30rem; 
}

.profile_detail{ 
    font-weight: 500;
}
.links{
    display: flex; 
    gap: 1rem;  
}

.links li{    
    background-color: #e69201;
    border: 1px solid black;  
    border-radius: 5px;
    padding-block: 0.2rem; 
}

.links li a{
    color: black;
    font-weight: 600;
    padding-inline: 0.5rem;
}

.links li:hover{
    background-color: white;
    transform: scale(0.9, 0.9);
    a{
        color: red
    }
}

.content_tabs{
    display: flex; 
    gap: 1rem; 
    align-items: center;
    justify-content: center;
}

.tab button:hover{
    cursor: pointer;
}

.content_comics{
    display: grid; 
    margin-block-start: 5rem; 
    grid-template-columns: repeat(3, 10rem);
    gap: 1rem; 
    justify-content: center;
    align-items: center;
}

.empty_content_msg{
    color: white; 
}


.comic_item{
    height: 15rem;
    width: 10rem;
    display: block; 
    border: 5px solid white; 
    background-color: grey; 
    background-position: center;
    background-size: 160px 240px; 
    background-repeat: no-repeat;
}

.comic_item.loading[data-visible="false"]{
    animation: blink-in 1s infinite;
    background-image: none !important;
}

.comic_item[data-available="false"]{ 
    animation: none;
    background-image: none !important;
}

.profile_img[data-visible="false"]{
    animation: blink-in 1s infinite;
}

@keyframes blink-in {
  0%{
    background-color: rgb(48, 47, 47);
  }
  50%{
    background-color: rgba(150, 148, 148, 0.678);
  }
  100%{
    background-color: rgb(48, 47, 47);
}
}
