
:root{
  --ff-primary:  "Roboto Mono", monospace;
  --ff-secondary: "Big Shoulders Stencil", sans-serif;

  --fw-bold: 700; 
}


img{
  max-inline-size: 100%;
  block-size: auto;
  display: block;
}

ul{
  list-style-type: none;
  padding: 0; 
}

*{
  font:inherit;
}
body{
  margin: 0; 
  padding: 0; 
  font-family: var(--ff-primary);
  background-color: #000000;
}

#app{
  display: grid;
  grid-template-areas:
  "header header"
  "main main"
  "footer footer"; 
  grid-template-rows: 5rem auto 1rem; 
}

header{
  z-index: 9999;
  position: fixed;
  width: 100%;
  grid-area: header;
  background-color: #9d0208;
  padding-block: 1rem; 
}

main{
  grid-area: main; 
}

/* footer{
  grid-area: footer; 
  font-weight: 500;
  background-color: #9d0208; 
  display: grid;
  place-items: center;
} */
.search_wrapper{

  -webkit-box-shadow: 3px 3px 0px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 3px 3px 0px 0px rgba(0,0,0,0.75);
    box-shadow: 3px 3px 0px 0px rgba(0,0,0,0.75);

  background-color: white;
  border: 1px solid black;
  overflow: hidden; 
  border-radius: 5px;

  display: flex;  
  gap: 0.5rem; 
  
  height: 2rem;
  width: 17rem;

  margin-inline: auto;
}

.search_wrapper:hover{
  outline: 2px solid white; 
  outline-offset: 0.2rem;
}

.search_wrapper img{
  width: 1rem; 
  margin-inline-start: 0.5rem;
}
.search_wrapper input{
  border: 0; 
  width: 100%; 
  font-size: 0.785rem; 
  outline: none;
}

.result{
  width: 15rem;
  margin-inline: auto;
  background-color: rgba(219, 22, 22, 0.753);
}

.result_item:hover{
  cursor: pointer;
  background-color: rgba(61, 60, 60, 0.603);
  color: white; 
}

.character_details{
  margin-inline: auto;
  border: 3px solid white; 
  width: 15rem; 
  
  transition: transform 250ms ease-in-out;
}

.details_img[data-visible='false']{
  animation: slide-in 1s infinite; 
}

.details_img{
  width: auto;
  height: 15rem;
  background-color: rgb(221, 218, 218);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border-bottom: 5px solid rgb(194, 3, 3);
}
.display_character h1{ 
  margin: 1rem; 
  font-family: var(--ff-secondary);
  color: white; 
  text-align: center;
  font-weight: 900;
  font-size: 3rem; 
}

.details_description{
  background-color: black;
  height: 6rem;
  display: flex; 
  align-items: center;
  justify-content: center;
}

.description_name{
  /* background-color: blue;  */
  color: white;
  /* font-size: 1.785rem;  */
  font-family: var(--ff-secondary);
  font-weight: var(--fw-bold);
}

.description_name[data-visible="false"]{
  animation: slide-in 1s infinite;
  width: 10rem; 
  height: 1rem;
  display: block; 
  /* width: 5rem;  */
  border-radius: 15px;
}

.character_details:hover{
  cursor: pointer;
  color: rgb(255, 13, 13);
  /* box-shadow: 0px 15px 60px rgba(245, 245, 245, 0.514); */
  transform: scale(0.9, 0.9);
}

@keyframes slide-in {
  0%{
    background-color: rgb(221, 218, 218);
  }
  50%{
    background-color: rgba(150, 148, 148, 0.678);
  }
  100%{
    background-color: rgb(221, 218, 218);
}
}

